Data source : https://datacatalog.worldbank.org/search/dataset/0037651

In [99]:
import pandas as pd

In [100]:
ESGCountry = pd.read_csv("C:\\Users\\ACER\\Downloads\\ESG_CSV\\ESGCountry.csv")

In [101]:
ESGCountry

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
1,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,The World Bank systematically assesses the app...,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN
2,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2017/18",Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,NaN
3,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income,AD,...,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2018.0,NaN
4,ARB,Arab World,Arab World,Arab World,1A,NaN,Arab World aggregate. Arab World is composed o...,NaN,NaN,1A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,WSM,Samoa,Samoa,Independent State of Samoa,WS,Samoan tala,The reporting period for national accounts dat...,East Asia & Pacific,Lower middle income,WS,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2013",NaN,2009,NaN,2018.0,NaN
235,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,The World Bank systematically assesses the app...,Middle East & North Africa,Low income,RY,...,NaN,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",NaN,NaN,2012.0,2015.0,NaN
236,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Fiscal year end: March 31; reporting period fo...,Sub-Saharan Africa,Upper middle income,ZA,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",NaN,2007,2010.0,2018.0,NaN
237,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,National accounts data were rebased to reflect...,Sub-Saharan Africa,Lower middle income,ZM,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",NaN,NaN,1994.0,2018.0,NaN
238,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,National Accounts data are reported in Zimbabw...,Sub-Saharan Africa,Lower middle income,ZW,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2018.0,NaN

In [102]:
ESGCountrySeries = pd.read_csv("C:\\Users\\ACER\\Downloads\\ESG_CSV\\ESGCountrySeries.csv")

In [103]:
ESGCountrySeries

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,AFG,EG.EGY.PRIM.PP.KD,Sources: Estimated based on UN Energy Statisti...,NaN
1,AFG,EG.ELC.RNEW.ZS,Sources: UN Energy Statistics (2014),NaN
2,AFG,EG.FEC.RNEW.ZS,Sources: UN Energy Statistics (2014),NaN
3,AFG,IT.NET.USER.ZS,Ministry of Communications. Ministry of Commun...,NaN
4,AFG,SM.POP.NETM,Data source: United Nations World Population P...,NaN
...,...,...,...,...
1349,ZWE,EG.FEC.RNEW.ZS,"Sources: World Energy Statistics and Balances,...",NaN
1350,ZWE,IT.NET.USER.ZS,TelOne. From 2002: Post and Telecommunications...,NaN
1351,ZWE,SM.POP.NETM,Data source: United Nations World Population P...,NaN
1352,ZWE,SP.DYN.LE00.IN,Data source: United Nations World Population P...,NaN
1353,ZWE,SP.DYN.TFRT.IN,Data source: United Nations World Population P...,NaN

In [104]:
ESGData= pd.read_csv("C:\\Users\\ACER\\Downloads\\ESG_CSV\\ESGData.csv")
ESGData

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.705717,86.942778,87.228705,87.390856,87.617862,87.798740,87.948264,88.092536,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.832276,89.053852,89.539016,90.662754,89.176939,90.352802,90.635050,90.845661,NaN,NaN
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.042207,6.124223,5.261940,6.237798,8.177585,7.234436,4.598506,NaN,NaN,NaN
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.084317,0.096624,0.092883,0.102660,0.057120,0.064516,0.075686,NaN,NaN,NaN
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,30.981414,30.982663,31.007054,31.018001,31.042466,...,39.834421,39.872575,39.937814,39.984452,39.969738,39.907031,39.973290,39.970742,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16964,Zimbabwe,ZWE,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,27.214542,27.214585,27.214585,27.214747,27.214747,27.214747,27.214747,NaN
16965,Zimbabwe,ZWE,Tree Cover Loss (hectares),AG.LND.FRLS.HA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16966,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.770000,5.282000,5.796000,6.279000,6.784000,7.370000,7.898000,8.067000,7.945000,NaN
16967,Zimbabwe,ZWE,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16968,Zimbabwe,ZWE,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.256889,-1.166087,-1.178460,-1.195905,-1.136798,-1.163669,-1.113408,-1.135830,-1.102206,NaN

In [105]:
ESGData['Indicator Name'].unique()

array(['Access to clean fuels and technologies for cooking (% of population)',
       'Access to electricity (% of population)',
       'Adjusted savings: natural resources depletion (% of GNI)',
       'Adjusted savings: net forest depletion (% of GNI)',
       'Agricultural land (% of land area)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Annualized average growth rate in per capita real survey mean consumption or income, total population (%)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Children in employment, total (% of children ages 7-14)',
       'CO2 emissions (metric tons per capita)', 'Coastal protection',
       'Control of Corruption: Estimate', 'Cooling Degree Days',
       'Economic and Social Rights Performance Score',
       'Electricity production from coal sources (% of total)',
       'Energy imports, net (% of energy use)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Energy use (kg of oil equivalent per capita)',
       'Fertility rate, total (births per woman)',
       'Food production index (2014-2016 = 100)',
       'Forest area (% of land area)',
       'Fossil fuel energy consumption (% of total)',
       'GDP growth (annual %)',
       'GHG net emissions/removals by LUCF (Mt of CO2 equivalent)',
       'Gini index', 'Government Effectiveness: Estimate',
       'Government expenditure on education, total (% of government expenditure)',
       'Heat Index 35', 'Heating Degree Days',
       'Hospital beds (per 1,000 people)',
       'Income share held by lowest 20%',
       'Individuals using the Internet (% of population)',
       'Labor force participation rate, total (% of total population ages 15-64) (modeled ILO estimate)',
       'Land Surface Temperature',
       'Level of water stress: freshwater withdrawal as a proportion of available freshwater resources',
       'Life expectancy at birth, total (years)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Mammal species, threatened',
       'Methane emissions (metric tons of CO2 equivalent per capita)',
       'Mortality rate, under-5 (per 1,000 live births)', 'Net migration',
       'Nitrous oxide emissions (metric tons of CO2 equivalent per capita)',
       'Patent applications, residents',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed sanitation services (% of population)',
       'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)',
       'Political Stability and Absence of Violence/Terrorism: Estimate',
       'Population ages 65 and above (% of total population)',
       'Population density (people per sq. km of land area)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Prevalence of overweight (% of adults)',
       'Prevalence of undernourishment (% of population)',
       'Proportion of bodies of water with good ambient water quality',
       'Proportion of seats held by women in national parliaments (%)',
       'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)',
       'Regulatory Quality: Estimate',
       'Renewable electricity output (% of total electricity output)',
       'Renewable energy consumption (% of total final energy consumption)',
       'Research and development expenditure (% of GDP)',
       'Rule of Law: Estimate', 'School enrollment, primary (% gross)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'Scientific and technical journal articles',
       'Standardised Precipitation-Evapotranspiration Index',
       'Strength of legal rights index (0=weak to 12=strong)',
       'Terrestrial and marine protected areas (% of total territorial area)',
       'Tree Cover Loss (hectares)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Unmet need for contraception (% of married women ages 15-49)',
       'Voice and Accountability: Estimate'], dtype=object)

In [106]:
ESGData['Indicator Name'].nunique()

71

In [107]:
ESGData['Country Code'].nunique()

239

In [108]:
ESGData['Country Name'].nunique()

239

In [109]:
ESGData['Country Name'].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean (IDA & IBRD)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD)', 'Middle income',
       'North America', 'OECD members', 'Other small states',
       'Pacific island small states', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Small states', 'South Asia',
       'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD)', 'Upper middle income', 'World',
       'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Yemen, Rep.', 'Zambia',
       'Zimbabwe'], dtype=object)

In [110]:
countries_to_exclude = ['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean (IDA & IBRD)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD)', 'Middle income',
       'North America', 'OECD members', 'Other small states',
       'Pacific island small states', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Small states', 'South Asia',
       'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD)', 'Upper middle income', 'World']

ESGData_filtered = ESGData[~ESGData['Country Name'].isin(countries_to_exclude)]

In [111]:
ESGData_filtered

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
3266,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,25.700000,27.250000,28.500000,30.000000,31.100000,32.450000,33.800000,35.400000,NaN,NaN
3267,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,89.500000,71.500000,97.700000,97.700000,93.430878,97.700000,97.700000,97.700000,NaN,NaN
3268,Afghanistan,AFG,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.315571,0.290261,0.363282,0.350879,0.401053,0.370131,0.243668,0.335935,NaN,NaN
3269,Afghanistan,AFG,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.216609,0.232762,0.284781,0.229822,0.237615,0.269353,0.237958,0.317732,NaN,NaN
3270,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.878356,57.955016,58.031676,58.116002,58.123668,...,58.123668,58.123668,58.123668,58.123668,58.276988,58.276988,58.741548,58.741548,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16964,Zimbabwe,ZWE,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,27.214542,27.214585,27.214585,27.214747,27.214747,27.214747,27.214747,NaN
16965,Zimbabwe,ZWE,Tree Cover Loss (hectares),AG.LND.FRLS.HA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16966,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.770000,5.282000,5.796000,6.279000,6.784000,7.370000,7.898000,8.067000,7.945000,NaN
16967,Zimbabwe,ZWE,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16968,Zimbabwe,ZWE,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.256889,-1.166087,-1.178460,-1.195905,-1.136798,-1.163669,-1.113408,-1.135830,-1.102206,NaN

In [112]:
ESGData_filtered['Indicator Name'].nunique()

71

In [113]:
nepal_data = ESGData_filtered[ESGData_filtered['Country Name'] == 'Nepal']

In [114]:
nepal_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
11928,Nepal,NPL,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.900000,28.050000,29.500000,30.600000,32.000000,32.900000,34.100000,35.200000,NaN,NaN
11929,Nepal,NPL,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,84.900000,82.014229,90.700000,86.624657,93.920000,89.900000,89.900000,89.900000,NaN,NaN
11930,Nepal,NPL,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001980,0.920110,1.015870,0.693824,0.418700,0.439588,0.514789,0.492993,NaN,NaN
11931,Nepal,NPL,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.918601,1.014157,0.691739,0.416380,0.437839,0.513311,0.490206,NaN,NaN
11932,Nepal,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,24.846154,24.846154,24.916084,24.846154,24.846154,...,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11994,Nepal,NPL,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.626104,23.626042,23.626042,23.626042,23.626042,23.626042,23.626042,NaN
11995,Nepal,NPL,Tree Cover Loss (hectares),AG.LND.FRLS.HA,NaN,NaN,NaN,NaN,NaN,NaN,...,1162.000000,579.000000,999.000000,2394.000000,1672.000000,2087.000000,2233.000000,2753.000000,NaN,NaN
11996,Nepal,NPL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.576000,10.512000,10.403000,10.660000,10.623000,10.599000,13.078000,12.223000,11.119000,NaN
11997,Nepal,NPL,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,25.213131,NaN,23.700000,23.732208,NaN,24.715612,NaN,NaN,NaN,NaN
11998,Nepal,NPL,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.430446,-0.415431,-0.251383,-0.199516,-0.129691,-0.150054,-0.084039,-0.084465,-0.049159,NaN

In [115]:
null_counts_per_row = ESGData.isnull().sum(axis=1)
null_counts_per_row_sorted = null_counts_per_row.sort_values(ascending=False)

print(null_counts_per_row_sorted)

9237     64
2112     64
14357    64
14356    64
2102     64
         ..
15554     1
12572     1
1425      1
16051     1
431       1
Length: 16969, dtype: int64

In [116]:
columns_to_remove = ['Country Name'] 

nepal_data = nepal_data.drop(columns=columns_to_remove)

In [117]:
nepal_data

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
11928,NPL,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.900000,28.050000,29.500000,30.600000,32.000000,32.900000,34.100000,35.200000,NaN,NaN
11929,NPL,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.900000,82.014229,90.700000,86.624657,93.920000,89.900000,89.900000,89.900000,NaN,NaN
11930,NPL,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001980,0.920110,1.015870,0.693824,0.418700,0.439588,0.514789,0.492993,NaN,NaN
11931,NPL,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.918601,1.014157,0.691739,0.416380,0.437839,0.513311,0.490206,NaN,NaN
11932,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,24.846154,24.846154,24.916084,24.846154,24.846154,24.846154,...,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11994,NPL,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.626104,23.626042,23.626042,23.626042,23.626042,23.626042,23.626042,NaN
11995,NPL,Tree Cover Loss (hectares),AG.LND.FRLS.HA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1162.000000,579.000000,999.000000,2394.000000,1672.000000,2087.000000,2233.000000,2753.000000,NaN,NaN
11996,NPL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.576000,10.512000,10.403000,10.660000,10.623000,10.599000,13.078000,12.223000,11.119000,NaN
11997,NPL,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.213131,NaN,23.700000,23.732208,NaN,24.715612,NaN,NaN,NaN,NaN
11998,NPL,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.430446,-0.415431,-0.251383,-0.199516,-0.129691,-0.150054,-0.084039,-0.084465,-0.049159,NaN

In [118]:
nepal_data.columns

Index(['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', 'Unnamed: 67'],
      dtype='object')

In [119]:

columns_to_melt = ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
                   '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
                   '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                   '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
                   '2020', '2021', '2022'] 


nepal_data = nepal_data.melt(id_vars=['Country Code', 'Indicator Name', 'Indicator Code'], value_vars=columns_to_melt, var_name='year', value_name='amount')


print(nepal_data)

     Country Code                                     Indicator Name  \
0             NPL  Access to clean fuels and technologies for coo...
1             NPL            Access to electricity (% of population)
2             NPL  Adjusted savings: natural resources depletion ...
3             NPL  Adjusted savings: net forest depletion (% of GNI)
4             NPL                 Agricultural land (% of land area)
...           ...                                                ...
3048          NPL  Terrestrial and marine protected areas (% of t...
3049          NPL                         Tree Cover Loss (hectares)
3050          NPL  Unemployment, total (% of total labor force) (...
3051          NPL  Unmet need for contraception (% of married wom...
3052          NPL                 Voice and Accountability: Estimate

         Indicator Code  year     amount
0        EG.CFT.ACCS.ZS  1960        NaN
1        EG.ELC.ACCS.ZS  1960        NaN
2     NY.ADJ.DRES.GN.ZS  1960        NaN
3     NY.ADJ.DFOR.GN.ZS  1960        NaN
4        AG.LND.AGRI.ZS  1960        NaN
...                 ...   ...        ...
3048     ER.PTD.TOTL.ZS  2022  23.626042
3049     AG.LND.FRLS.HA  2022        NaN
3050     SL.UEM.TOTL.ZS  2022  11.119000
3051        SP.UWT.TFRT  2022        NaN
3052             VA.EST  2022  -0.049159

[3053 rows x 5 columns]

In [120]:
nepal_data

,Country Code,Indicator Name,Indicator Code,year,amount
0,NPL,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN
1,NPL,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN
2,NPL,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,1960,NaN
3,NPL,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,1960,NaN
4,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN
...,...,...,...,...,...
3048,NPL,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,2022,23.626042
3049,NPL,Tree Cover Loss (hectares),AG.LND.FRLS.HA,2022,NaN
3050,NPL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2022,11.119000
3051,NPL,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,2022,NaN
3052,NPL,Voice and Accountability: Estimate,VA.EST,2022,-0.049159

In [121]:
nepal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3053 entries, 0 to 3052
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Code    3053 non-null   object
 1   Indicator Name  3053 non-null   object
 2   Indicator Code  3053 non-null   object
 3   year            3053 non-null   object
 4   amount          1454 non-null   float64
dtypes: float64(1), object(4)
memory usage: 119.4+ KB

In [122]:
nepal_data.columns

Index(['Country Code', 'Indicator Name', 'Indicator Code', 'year', 'amount'], dtype='object')

In [123]:
# Specify the file path and name for the CSV file
csv_file_path = 'D:/business analysist class/nepal_data.csv'

# Save the DataFrame to a CSV file
nepal_data.to_csv(csv_file_path, index=False)

In [124]:
# Group by 'GroupColumn' and count null values in 'CountColumn'
result = nepal_data.groupby('Indicator Code')['amount'].apply(lambda x: x.isnull().sum()).reset_index(name='NullCount')
result.tail()

       Indicator Code  NullCount
66     SP.DYN.LE00.IN          2
67     SP.DYN.TFRT.IN          2
68  SP.POP.65UP.TO.ZS          2
69        SP.UWT.TFRT         36
70             VA.EST         21

In [125]:
nepal_data[nepal_data['Indicator Code'] == 'AG.LND.AGRI.ZS'].head(1)

,Country Code,Indicator Name,Indicator Code,year,amount
4,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN

In [126]:
# Select one row for each unique value in 'Column1' starting with 'AG.'
result = nepal_data[nepal_data['Indicator Code'].str.startswith('AG.')].groupby('Indicator Code').apply(lambda x: x.head(1)).reset_index(drop=True)[['Indicator Code', 'Indicator Name']]
result

   Indicator Code                           Indicator Name
0  AG.LND.AGRI.ZS       Agricultural land (% of land area)
1  AG.LND.FRLS.HA               Tree Cover Loss (hectares)
2  AG.LND.FRST.ZS             Forest area (% of land area)
3  AG.PRD.FOOD.XD  Food production index (2014-2016 = 100)

In [127]:
nepal_data[nepal_data['Indicator Code'] == 'SP.DYN.LE00.IN'].head(1)

,Country Code,Indicator Name,Indicator Code,year,amount
36,NPL,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,38.559

In [128]:
# Filter rows where 'Indicator Code' starts with 'AG.'
filtered_data = nepal_data[nepal_data['Indicator Code'].str.startswith('AG.')]
# Count null values in 'year' column for each group
result = filtered_data.groupby('Indicator Code')['amount'].apply(lambda x: x.isnull().sum()).reset_index(name='null_count_amt')
result

   Indicator Code  null_count_amt
0  AG.LND.AGRI.ZS               2
1  AG.LND.FRLS.HA              23
2  AG.LND.FRST.ZS              21
3  AG.PRD.FOOD.XD               2

In [129]:
# Group by 'Indicator Code' and count the number of rows in each group
result = filtered_data.groupby('Indicator Code').size().reset_index(name='RowCount')
result

   Indicator Code  RowCount
0  AG.LND.AGRI.ZS        43
1  AG.LND.FRLS.HA        43
2  AG.LND.FRST.ZS        43
3  AG.PRD.FOOD.XD        43

In [130]:
result = nepal_data[nepal_data['Indicator Code'].str.startswith('SP.')].groupby('Indicator Code').apply(lambda x: x.head(1)).reset_index(drop=True)[['Indicator Code', 'Indicator Name']]
result

      Indicator Code                                     Indicator Name
0     SP.DYN.LE00.IN            Life expectancy at birth, total (years)
1     SP.DYN.TFRT.IN           Fertility rate, total (births per woman)
2  SP.POP.65UP.TO.ZS  Population ages 65 and above (% of total popul...
3        SP.UWT.TFRT  Unmet need for contraception (% of married wom...

In [131]:
# Print all unique values in the 'Indicator Name' column
unique_indicator_names = nepal_data['Indicator Name'].unique()
unique_indicator_names

array(['Access to clean fuels and technologies for cooking (% of population)',
       'Access to electricity (% of population)',
       'Adjusted savings: natural resources depletion (% of GNI)',
       'Adjusted savings: net forest depletion (% of GNI)',
       'Agricultural land (% of land area)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Annualized average growth rate in per capita real survey mean consumption or income, total population (%)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Children in employment, total (% of children ages 7-14)',
       'CO2 emissions (metric tons per capita)', 'Coastal protection',
       'Control of Corruption: Estimate', 'Cooling Degree Days',
       'Economic and Social Rights Performance Score',
       'Electricity production from coal sources (% of total)',
       'Energy imports, net (% of energy use)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Energy use (kg of oil equivalent per capita)',
       'Fertility rate, total (births per woman)',
       'Food production index (2014-2016 = 100)',
       'Forest area (% of land area)',
       'Fossil fuel energy consumption (% of total)',
       'GDP growth (annual %)',
       'GHG net emissions/removals by LUCF (Mt of CO2 equivalent)',
       'Gini index', 'Government Effectiveness: Estimate',
       'Government expenditure on education, total (% of government expenditure)',
       'Heat Index 35', 'Heating Degree Days',
       'Hospital beds (per 1,000 people)',
       'Income share held by lowest 20%',
       'Individuals using the Internet (% of population)',
       'Labor force participation rate, total (% of total population ages 15-64) (modeled ILO estimate)',
       'Land Surface Temperature',
       'Level of water stress: freshwater withdrawal as a proportion of available freshwater resources',
       'Life expectancy at birth, total (years)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Mammal species, threatened',
       'Methane emissions (metric tons of CO2 equivalent per capita)',
       'Mortality rate, under-5 (per 1,000 live births)', 'Net migration',
       'Nitrous oxide emissions (metric tons of CO2 equivalent per capita)',
       'Patent applications, residents',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed sanitation services (% of population)',
       'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)',
       'Political Stability and Absence of Violence/Terrorism: Estimate',
       'Population ages 65 and above (% of total population)',
       'Population density (people per sq. km of land area)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Prevalence of overweight (% of adults)',
       'Prevalence of undernourishment (% of population)',
       'Proportion of bodies of water with good ambient water quality',
       'Proportion of seats held by women in national parliaments (%)',
       'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)',
       'Regulatory Quality: Estimate',
       'Renewable electricity output (% of total electricity output)',
       'Renewable energy consumption (% of total final energy consumption)',
       'Research and development expenditure (% of GDP)',
       'Rule of Law: Estimate', 'School enrollment, primary (% gross)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'Scientific and technical journal articles',
       'Standardised Precipitation-Evapotranspiration Index',
       'Strength of legal rights index (0=weak to 12=strong)',
       'Terrestrial and marine protected areas (% of total territorial area)',
       'Tree Cover Loss (hectares)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Unmet need for contraception (% of married women ages 15-49)',
       'Voice and Accountability: Estimate'], dtype=object)

In [132]:
land = [values for values in unique_indicator_names if 'land' in values.lower()]
land

['Agricultural land (% of land area)',
 'Forest area (% of land area)',
 'Land Surface Temperature',
 'Population density (people per sq. km of land area)']

In [133]:
nepal_data[nepal_data['Indicator Name']=='Agricultural land (% of land area)'].head(1)

,Country Code,Indicator Name,Indicator Code,year,amount
4,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN

In [134]:
nepal_data[nepal_data['Indicator Name']=='Agriculture, forestry, and fishing, value added (% of GDP)'].head(1)

,Country Code,Indicator Name,Indicator Code,year,amount
5,NPL,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,1960,NaN

In [135]:
nepal_data.dtypes

Country Code       object
Indicator Name     object
Indicator Code     object
year               object
amount            float64
dtype: object

In [136]:
nepal_data['year'] = pd.to_numeric(nepal_data['year'], errors='coerce')

In [137]:
nepal_data

,Country Code,Indicator Name,Indicator Code,year,amount
0,NPL,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN
1,NPL,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN
2,NPL,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,1960,NaN
3,NPL,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,1960,NaN
4,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN
...,...,...,...,...,...
3048,NPL,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,2022,23.626042
3049,NPL,Tree Cover Loss (hectares),AG.LND.FRLS.HA,2022,NaN
3050,NPL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2022,11.119000
3051,NPL,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,2022,NaN
3052,NPL,Voice and Accountability: Estimate,VA.EST,2022,-0.049159

In [138]:
# Add '%' to 'amount' where 'Indicator Name' contains '%'
# nepal_data.loc[nepal_data['Indicator Name'].str.contains('%') & ~nepal_data['amount'].isnull(), 'amount'] = nepal_data['amount'].map('{:.2%}'.format)
# nepal_data

In [139]:
# Add percentage sign to the specified column
nepal_data.loc[nepal_data['Indicator Name'].str.contains('%') & ~nepal_data['amount'].isnull(), 'amount'] = nepal_data['amount'].apply(lambda x: str(x) + '%' if pd.notna(x) else x)

# Convert the column back to numerical values, handling 'NaN' appropriately
nepal_data['amount'] = pd.to_numeric(nepal_data['amount'].str.rstrip('%'), errors='coerce')

# Display the updated DataFrame
nepal_data

,Country Code,Indicator Name,Indicator Code,year,amount
0,NPL,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN
1,NPL,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN
2,NPL,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,1960,NaN
3,NPL,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,1960,NaN
4,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN
...,...,...,...,...,...
3048,NPL,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,2022,23.626042
3049,NPL,Tree Cover Loss (hectares),AG.LND.FRLS.HA,2022,NaN
3050,NPL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2022,11.119000
3051,NPL,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,2022,NaN
3052,NPL,Voice and Accountability: Estimate,VA.EST,2022,NaN

In [140]:
val

NameError: name 'val' is not defined

In [ ]:
# Specify the file path and name for the CSV file
csv_file_path = 'D:/business analysist class/nepal_data.csv'

# Save the DataFrame to a CSV file
nepal_data.to_csv(csv_file_path, index=False)

In [ ]:
nepal_data

In [ ]:
nepal_data[nepal_data["Indicator Name"].str.contains("drinking")]